<div class="divv" >
    <div class="footer">
        <ul>
            <li><a href="./Metro.html">LinkedIn</a></li>
            <li><a href="./Metro.html">METRO.Online</a></li>
            <li><a href="./Metro.html">Careers</a></li>
            <li><a href="./Metro.html">Categories and Products</a></li>
            <li><a href="./Metro.html">Privacy Policies</a></li>
        </ul>
    </div>
    <div class="links">
        <div class="metro2">
            <h2>METRO</h2>
            <a href="./Metro.html">Careers</a>
            <a href="./Metro.html">Legal</a>
            <a href="./Metro.html">Store Locator</a>
            <a href="./Metro.html">FAQ</a>
            <a href="./Metro.html">Franchise</a>
            <a href="./Metro.html">About Metro</a>
            <a href="./Metro.html">METRO AG</a>
        </div>
        <div class="metro2">
            <h2>Our Customers</h2>
            <a href="./Metro.html">For Your Family and Friends</a>
            <a href="./Metro.html">General Store and Kiryana</a>
            <a href="./Metro.html">Industries and Offices</a>
            <a href="./Metro.html">Restaurants and Caterers</a>
        </div>
        <div class="metro2">
            <h2>Why METRO </h2>
            <a href="./Metro.html">Services</a>
            <a href="./Metro.html">Shop Online</a>
            <a href="./Metro.html">Own Brands</a>
            <a href="./Metro.html">Metro Catalogues</a>
        </div>
        <div class="metro2">
            <h2>Contact us</h2>
            <div class="phone">
                <i class="fa-solid fa-phone"></i>
                <a href="./Metro.html" class="phone">+92-(042)-111-786-622</a>
            </div>
            <p>Please note you can call us anytime from Monday - Friday at these hours- 9:00am to 9:00pm</p>
            <div class="email">
                <i class="fa-regular fa-envelope"></i>
                <a href="./Metro.html">Feedback@metro.pk</a>
            </div>
            <h3>Follow us on</h3>
            <div class="icons">
                <a href="./Metro.html"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="./Metro.html"><i class="fa-brands fa-instagram"></i></a>
                <a href="./Metro.html"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="./Metro.html"><i class="fa-brands fa-square-youtube"></i></a>
            </div>
        </div>
       
    </div>
    <div class="copyright"><i class="fa-regular fa-copyright"></i>Metro 2024</div>
</div>
   